h1 {
    display: flex;
    color: #fff;
    font-size: 25px;
    margin-bottom: 30px;
}
button, input {
    overflow: visible;
    margin-bottom: 20px;
}
input[type=file]::file-selector-button, button[type="submit"] {
    height: 40px;
    width: auto;
    color: #24292e;
    background-color: #fff; /* 배경색 */
    border-radius: 5px; /* 테두리 둥글게 */
}

input[type=file]::file-selector-button:hover, button[type="submit"]:hover {
    background-color: #28A745;
    color: #fff;
}