body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #383838;
    color: #D3D3D3;
    margin: 0;
    padding: 0;
    padding-top: 70px; /* 헤더의 높이만큼 상단에 여백을 추가 */
    display: flex;
    height: 100vh;
}
header {
    background-color: #28A745;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* 전체 너비를 차지하도록 설정 */
    position: fixed; /* 헤더를 상단에 고정 */
    top: 0; /* 상단에서 0px 위치에 고정 */
    z-index: 2000; /* 다른 요소들 위에 표시되도록 z-index 설정 */
}
.sidebar {
    width: 15%;
    border-right: 1px solid #28A745;
    box-shadow: 0 4px 6px rgba(0,0,0,1);
    height: 100%;
    overflow-y: auto;
}
.content {
    margin-top: 70px; /* header의 높이만큼 상단 여백 추가 */
    width: 100%;
    justify-content: center;
    align-items: center;
}
.api-list {
    list-style: none;
    padding: 0;
}
.api-list li a {
    color: #D3D3D3;
    padding: 10px; /* 상단, 하단, 좌우 간격을 10px로 설정 */
    text-decoration: none;
    transition: background-color 0.3s;
    display: block; /* 링크를 블록 요소로 만들어 너비 전체를 차지하도록 함 */
    width: 100%; /* 부모 요소의 너비에 맞춤 */
}
.api-list li a.active, .api-list li a:hover {
    background-color: #28A745; /* 활성화 및 호버 상태의 배경색 */
    color: #fff; /* 활성화 및 호버 상태의 텍스트 색상 */
}
.login-button_header {
    position: fixed; /* 버튼을 고정 위에 설정 */
    top: 20px; /* 상단에서 10px 떨어진 위치에 배치 */
    right: 20px; /* 오른쪽에서 20px 떨어진 위치에 배치 */
    background-color: #28A745;
    color: #fff;
    border: none;
    font-weight: bold;
}
.login-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #28A745;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,1);
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.login-container h2 {
    margin-top: 20px; /* h2 태그 상단 여백 추가 */
    margin-bottom: 20px; 
}
.close-button{
    background-color: #28A745;
    color: #fff;
    border: none;
    font-weight: bold;
}
.container {
    display: flex;  /* Flexbox를 활성화 */
    height: 80%;   /* 필요에 따라 높이 조정 */
}
.logo img {
    height: 50px;
    transition: opacity 0.1s ease-in-out;
}
.logo img.fade {
    opacity: 0;
}
.login-button_header:focus, .close-button:focus {
    outline: none;
}
.login-container .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.login-container .button img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}
.login-container .button.github {
    background-color: #333;
    color: #fff;
}
.login-container .button.github:hover {
    background-color: #24292e;
}
.login-container .button.google {
    background-color: #fff;
    color: #000;
    border: 1px solid #ddd;
}
.login-container .button.google:hover {
    background-color: #f1f1f1;
}
.profile-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.profile-image {
    width: 50px;
    height: 50px;
}
.profile-menu {
    display: none;
    position: absolute;
    margin-top: 5px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    width: 150px;
    text-align: center;
}
.profile-menu a, .profile-menu p {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    display: block; /* 링크를 블록 요소로 만들어 너비 전체를 차지하도록 함 */
    width: 100%; /* 부모 요소의 너비에 맞춤 */
}
.profile-menu a:hover {
    background-color: #28A745;
    color: #fff;
}