{% extends "index.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/myapi.css' %}">
<script>
    // CSRF 토큰을 JavaScript 변수로 저장
    var csrftoken = '{{ csrf_token }}';
</script>

<div class="api-management">
    <h2>API document</h2>
    <div>
        <label for="apiKeyDisplay">API KEY :  </label>
        <label id="apiKeyDisplay" onclick="copyApiKey()">{{ api_key }}</label>
        <button onclick="regenerateApiKey()">Regenerate Key</button>
    </div>
</div>
<div class="myapi-api-list">
    <label id="weatherApiLabel">- Weather API</label><br>
    <label id="videoApiLabel">- Process Video API</label>
</div>

<!-- API 정보 및 테스트 박스 -->
<div id="weatherApiInfo" class="api-info">
    <h2>Weather API Information</h2>
    <div class="api-info-container">
        <div class="code-container">
            <pre>
                <code id="code">
    '/api/v1/weather/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-API-KEY': 'your_api_key_here',
            'X-IP-ADDRESS': 'ip_address_here'
        }
    }
                </code>
            </pre>
        </div>
        <div class="log-container">
            <textarea id="apiLog_1" readonly></textarea>
        </div>
    </div>
    <div class="api-test-bar">
        <label for="X-IP-ADDRESS">POST : /api/v1/weather/</label>
        <input type="text" id="X-IP-ADDRESS" placeholder="Enter IP address here" />
        <button onclick="sendApiRequest(1)">Send Request</button>
    </div>
</div>

<div id="videoApiInfo" class="api-info">
    <h2>Car Recognition API Information</h2>
    <div class="api-info-container">
        <div class="code-container">
            <pre>
                <code id="code">
    '/api/v1/car_recognition/image/', {
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json',
            'X-API-KEY': 'your_api_key_here',
            'X-BASE64-INCODE-IMAGE': 'base64_incode_image_here'
        }
    }
                </code>
            </pre>
        </div>
        <div class="log-container">
            <textarea id="apiLog_2" readonly></textarea>
        </div>
    </div>
    <div class="api-test-bar">
        <label for="X-BASE64-INCODE-IMAGE">PUT : /api/v1/car_recognition/image/</label>
        <input type="text" id="X-BASE64-INCODE-IMAGE" placeholder="Enter base64 incode image here" />
        <button onclick="sendApiRequest(2)">Send Request</button>
    </div>
    <div class="api-info-container">
        <div class="code-container">
            <pre>
                <code id="code">
    '/api/v1/car_recognition/youtube/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-API-KEY': 'your_api_key_here',
            'X-YOUTUBE-LINK': 'youtube_link_here',
            'X-YOUTUBE-STARTTIME-SECONDS': 'youtube_starttime_here',
            'X-YOUTUBE-ENDTIME-SECONDS': 'youtube_endtime_here'
        }
    }
                </code>
            </pre>
        </div>
        <div class="log-container">
            <textarea id="apiLog_3" readonly></textarea>
        </div>
    </div>
    <div class="api-test-bar">
        <label for="X-YOUTUBE-LINK">POST : /api/v1/car_recognition/youtube/</label>
        <input type="text" id="X-YOUTUBE-LINK" placeholder="Enter youtube link here" />
        <button onclick="sendApiRequest(3)">Send Request</button>
    </div>
    <!-- Process Video API 정보 및 테스트 폼 -->
</div>
<div style="height: 50px;"></div>
<script>
    showApiKey();

    function regenerateApiKey() {
        fetch('{% url "refresh_api_key" %}')
            .then(response => response.json())
            .then(data => {
                document.getElementById('apiKeyDisplay').textContent = data.new_key;
            });
    }

    function showApiKey() {
        fetch('{% url "get_api_key" %}')
            .then(response => response.json())
            .then(data => {
                document.getElementById('apiKeyDisplay').textContent = data.key;
            });
    }

    function copyApiKey() {
        const apiKeyLabel = document.getElementById('apiKeyDisplay');
        const selection = window.getSelection();
        const range = document.createRange();
        range.selectNodeContents(apiKeyLabel);
        selection.removeAllRanges();
        selection.addRange(range);
        document.execCommand('copy');

        // 툴팁 생성 및 위치 설정
        let tooltip = document.createElement('div');
        tooltip.className = 'copy-tooltip';
        tooltip.textContent = 'Copied!';
        document.body.appendChild(tooltip);

        // apiKeyDisplay 오른쪽 아래에 툴팁 위치 설정
        const rect = apiKeyLabel.getBoundingClientRect();
        tooltip.style.position = 'absolute';
        tooltip.style.left = `${rect.right + 10}px`; // 오른쪽으로 10px 여백
        tooltip.style.top = `${rect.bottom + 5}px`; // 아래로 5px 여백

        // 툴팁 보이기
        tooltip.style.opacity = '1';

        // 일정 시간 후 툴팁 제거
        setTimeout(function() {
            tooltip.style.opacity = '0';
            setTimeout(() => document.body.removeChild(tooltip), 500);
        }, 2000);
    }

    document.getElementById('weatherApiLabel').addEventListener('click', function() {
        document.getElementById('weatherApiInfo').scrollIntoView({ behavior: 'smooth', block: 'center' });
    });

    document.getElementById('videoApiLabel').addEventListener('click', function() {
        document.getElementById('videoApiInfo').scrollIntoView({ behavior: 'smooth', block: 'center' });
    });

    function sendApiRequest(apiNum) {
        let method, endpoint, headers;
        if (apiNum == 1) {
            method = 'POST';
            endpoint = '/api/v1/weather/';
            headers = {
                'Content-Type': 'application/json',
                'X-API-KEY': document.getElementById('apiKeyDisplay').textContent,
                'X-IP-ADDRESS': document.getElementById('X-IP-ADDRESS').value,
                'X-CSRFToken': csrftoken  // CSRF 토큰 추가
            };
        }
        else if (apiNum == 2) {
            method = 'PUT';
            endpoint = '/api/v1/car_recognition/image/';
            headers = {
                'Content-Type': 'application/json',
                'X-API-KEY': document.getElementById('apiKeyDisplay').textContent,
                'X-BASE64-INCODE-IMAGE': document.getElementById('X-BASE64-INCODE-IMAGE').value,
                'X-CSRFToken': csrftoken  // CSRF 토큰 추가
            };
        }
        else if (apiNum == 3){
            method = 'POST';
            endpoint = '/api/v1/car_recognition/youtube/';
            headers = {
                'Content-Type': 'application/json',
                'X-API-KEY': document.getElementById('apiKeyDisplay').textContent,
                'X-YOUTUBE-LINK': document.getElementById('X-YOUTUBE-LINK').value,
                'X-CSRFToken': csrftoken  // CSRF 토큰 추가
            };
        }
        else {
            alert("405 Bad Request : Invalid API");
            return ;
        }
        fetch(endpoint, {
            method: method,
            headers: headers,
            credentials: 'include'  // 쿠키를 포함시키기 위해 credentials 옵션 추가
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            document.getElementById('apiLog_'+apiNum).value += JSON.stringify(data, null, 2) + "\n\n"; // 로그 브라우저에 결과 추가
        })
        .catch(error => {
            document.getElementById('apiLog_'+apiNum).value += 'Error: ' + error.message + '\n\n'; // 로그 브라우저에 에러 메시지 추가
        });
    }
</script>
{% endblock %}
