{% extends "index.html" %}

{% block title %}차선 및 차량 인식{% endblock %}

{% block content %}
<div class="container">
    <div class="video_container">
        <form action="/process_video_upload/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="videoFiles">비디오 파일:</label><br>
            <input type="file" id="videoFiles" name="videoFiles" multiple><br>
            <label for="videoUrl">YouTube 링크:</label><br>
            <input type="text" id="videoUrls" name="videoUrls" placeholder="YouTube URL"><br>
            <button type="submit">파일 업로드</button>
        </form>
    </div>
    <div class="video_frame_container">
        <div id="imageContainer1" style="display: block; overflow: hidden;"></div>
        <div id="imageContainer2" style="display: none; overflow: hidden;"></div>
    </div>
</div>

<div class="process_container">
    <div class="log_browser">
        <div id="logMessages" style="height: 200px; background: #646464; padding: 10px; color: white;">
            <!-- 로그 메시가 여기에 표시됩니다 -->
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const username = "{{ username }}";  // Django 템플릿 변수를 사용하여 사용자 이름을 가져옵니다.
        const roomName = `process_video_${username}`;  // roomName을 동적으로 설정합니다.
        const chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/process_video/' + roomName + '/'
        );

        const form = document.querySelector('form');
        const uploadButton = document.querySelector('button[type="submit"]');
        const logMessages = document.getElementById('logMessages');
        let imageIndex = 0;  // 이미지 인덱스 초기화
        let intervalId = null;  // 이미지 로딩을 위한 인터벌 ID

        let currentContainer = document.getElementById('imageContainer1');
        let bufferContainer = document.getElementById('imageContainer2');


        form.addEventListener('submit', function(event) {
            event.preventDefault();
            uploadButton.disabled = true;
            const formData = new FormData(form);

            const videoFilesInput = document.getElementById('videoFiles');
            if (videoFilesInput.files.length > 0) {
                const videoFilename = videoFilesInput.files[0].name;
                formData.append('videoFilename', videoFilename);
                logMessages.innerText = "비디오 파일을 업로드하는 중 입니다."
            }

            fetch('/process_video_upload/', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                if (data.username && data.videoFilename && data.totalChunks) {
                    logMessages.innerText = "비디오 파일을 처리하는 중 입니다."
                    intervalId = setInterval(function() {
                        const imagePath = `/static/tmp/${username}/${data.videoFilename}/${data.videoFilename}_${imageIndex}.webp`;
                        const newImg = new Image();
                        newImg.onload = function() {
                            newImg.style.width = '100%';
                            newImg.style.height = 'auto';
                            bufferContainer.innerHTML = '';
                            bufferContainer.appendChild(newImg);
                            bufferContainer.style.display = 'block';
                            currentContainer.style.display = 'none';
                            let temp = currentContainer;
                            currentContainer = bufferContainer;
                            bufferContainer = temp;
                            imageIndex++;
                        };
                        newImg.onerror = function() {
                            if (imageIndex == 0) {
                               
                        }
                        };
                        newImg.src = imagePath;
                    }, 10000);
                } else {
                    console.error('Missing username, videoFilename, or totalChunks in response');
                    logMessages.innerText = '로그인 후 이용해주세요.';
                    uploadButton.disabled = false;
                }
            })
            .catch(error => {
                console.error('Error:', error);
                uploadButton.disabled = false;
                logMessages.innerText = '오류가 발생했습니다: ' + error;
            });
        });

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data);
            if (data.message === 'completed') {
                clearInterval(intervalId);
                logMessages.innerText = '영상 변환이 완료되었습니다.';
                const outputVideoPath = `/static/tmp/${username}/${videoFilename}/${videoFilename}_output.mp4`;
                const a = document.createElement('a');
                a.href = outputVideoPath;
                a.download = `${videoFilename}_output.mp4`;
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
                uploadButton.disabled = false;
            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
    });
</script>
{% endblock %}

