{% extends "index.html" %}

{% block title %}차선 및 차량 인식{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/process_video.css' %}">
<h1>API TEST</h1>
<div class="container">
    <div class="video_container">
        <form action="/process_video_upload/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="videoFiles" name="videoFiles" multiple class="file-input"><br>
            <input type="text" id="videoUrl" name="videoUrls" placeholder="YouTube URL(최대 3분)"><br>
            <button type="submit">파일 업로드</button>
        </form>
    </div>
    <div class="video_frame_container">
        <div id="imageContainer1" style="display: block; overflow: hidden;"></div>
        <div id="imageContainer2" style="display: none; overflow: hidden;"></div>
    </div>
</div>

<div class="process_container">
    <div class="log_browser">
        <div id="logMessages" style="height: 200px; background: #646464; padding: 10px; color: white;">
            <!-- 로그 메시가 여기에 표시됩니다 -->
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const username = "{{ username }}";  // Django 템플릿 변수를 사용하여 사용자 이름을 가져옵니다.
        const roomName = `process_video_${username}`;  // roomName을 동적으로 설정합니다.
        const chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/process_video/' + roomName + '/'
        );

        const form = document.querySelector('form');
        const uploadButton = document.querySelector('button[type="submit"]');
        const logMessages = document.getElementById('logMessages');
        let imageIndex = 0;  // 이미지 인덱스 초기화
        let intervalId = null;  // 이미지 로딩을 위한 인터벌 ID
        let pingIntervalId = null;  // 웹 소켓 핑을 위한 인터벌 ID

        let currentContainer = document.getElementById('imageContainer1');
        let bufferContainer = document.getElementById('imageContainer2');

        function startWebSocketPing() {
            pingIntervalId = setInterval(function() {
                if (chatSocket.readyState === WebSocket.OPEN) {
                    chatSocket.send(JSON.stringify({ 'message': 'ping' }));
                }
            }, 5000);  // 5초마다 핑 메시지 전송
        }

        form.addEventListener('submit', function(event) {
            event.preventDefault();
            uploadButton.disabled = true;
            const formData = new FormData(form);

            const videoFilesInput = document.getElementById('videoFiles');
            const videoUrlInput = document.getElementById('videoUrl');

            const filesSelected = videoFilesInput.files.length > 0;
            const urlEntered = videoUrlInput.value.trim() !== '';

            if ((filesSelected && urlEntered) || (!filesSelected && !urlEntered)) {
                alert('비디오 파일이나 YouTube 링크 중 하나만 입력해주세요.');
                uploadButton.disabled = false;
                return; // 추가된 return 문
            }

            if (videoFilesInput.files.length > 0) {
                const videoFilename = videoFilesInput.files[0].name;
                formData.append('videoFilename', videoFilename);
                logMessages.innerText = "비디오 파일을 업로드하는 중 입니다."
            }

            if (videoUrlInput.value.trim() !== '') {
                formData.append('videoUrl', videoUrlInput.value.trim());
                logMessages.innerText = "YouTube 링크를 처리하는 중 입니다."
            }

            fetch('/process_video_upload/', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                if (data.username && data.videoFilename && data.totalChunks) {
                    var username = data.username;
                    var videoFilename = data.videoFilename;  // 여기서 videoFilename을 선언합니다.
                    logMessages.innerText = "비디오 파일을 처리하는 중 입니다."
                    chatSocket.onmessage = function(e) {
                        const data = JSON.parse(e.data);
                        if (data.message === 'start') {
                            intervalId = setInterval(function() {
                                const imagePath = `/static/tmp/${username}/${videoFilename}/${videoFilename}_${imageIndex}.webp`;  // videoFilename을 사용합니다.
                                const newImg = new Image();
                                newImg.onload = function() {
                                    newImg.style.width = '100%';
                                    newImg.style.height = 'auto';
                                    bufferContainer.innerHTML = '';
                                    bufferContainer.appendChild(newImg);
                                    bufferContainer.style.display = 'block';
                                    currentContainer.style.display = 'none';
                                    let temp = currentContainer;
                                    currentContainer = bufferContainer;
                                    bufferContainer = temp;
                                    imageIndex++;
                                };
                                newImg.onerror = function() {
                                    // Handle error
                                };
                                newImg.src = imagePath;
                            }, 10000);  // 10초마다 이미지 업데이트
                        } else if (data.message === 'completed') {
                            clearInterval(intervalId);
                            clearInterval(pingIntervalId);  // 핑 인터벌도 중지
                            logMessages.innerText = '영상 변환이 완료되었습니다.';
                            const outputVideoPath = `/static/tmp/${username}/${videoFilename}/${videoFilename}_output.mp4`;
                            const a = document.createElement('a');
                            a.href = outputVideoPath;
                            a.download = `${videoFilename}_output.mp4`;
                            document.body.appendChild(a);
                            a.click();
                            document.body.removeChild(a);
                            uploadButton.disabled = false;
                        }
                    };
                } else {
                    console.error('Missing username, videoFilename, or totalChunks in response');
                    logMessages.innerText = '로그인 후 이용해주세요.';
                    uploadButton.disabled = false;
                }
            })
            .catch(error => {
                console.error('Error:', error);
                uploadButton.disabled = false;
                logMessages.innerText = '오류가 발생했습니다: ' + error;
            });
        });

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
            clearInterval(pingIntervalId);  // 소켓이 닫히면 핑 인터벌 중지
        };

        startWebSocketPing();  // 웹 소켓 핑 시작
    });
</script>
{% endblock %}
