{% extends "index.html" %}

{% block title %}차선 및 차량 인식{% endblock %}

{% block content %}
<div class="container">
    <div class="video_container">
        <form action="/process_video_upload/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="videoFiles">비디오 파일:</label><br>
            <input type="file" id="videoFiles" name="videoFiles" multiple><br>
            <label for="videoUrl">YouTube 링크:</label><br>
            <input type="text" id="videoUrls" name="videoUrls" placeholder="YouTube URL"><br>
            <button type="submit">파일 업로드</button>
        </form>

    </div>
    <div class="video_frame_container">
        <div id="imageContainer1" style="display: block; overflow: hidden;"></div>
        <div id="imageContainer2" style="display: none; overflow: hidden;"></div>
    </div>
</div>

<!-- 프로그레스 바 -->
<div class="process_container">
    <!-- 로그 브라우저 섹션 추가 -->
    <div class="log_browser">
        <div id="logMessages" style="height: 200px; background: #646464; padding: 10px; color: white;">
            <!-- 로그 메시가 여기에 표시됩니다 -->
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.querySelector('form');
        const uploadButton = document.querySelector('button[type="submit"]');
        const logMessages = document.getElementById('logMessages');

        form.addEventListener('submit', function(event) {
            event.preventDefault();
            uploadButton.disabled = true;
            const formData = new FormData(form);

            const videoFilesInput = document.getElementById('videoFiles');
            if (videoFilesInput.files.length > 0) {
                const videoFilename = videoFilesInput.files[0].name;
                formData.append('videoFilename', videoFilename);
                logMessages.innerText = "비디오 파일을 업로드하는 중 입니다."
            }

            fetch('/process_video_upload/', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                if (data.username && data.videoFilename && data.totalChunks) {
                    logMessages.innerText = "비디오 파일을 처리하는 중 입니다."
                    checkForNewImages(data.username, data.videoFilename, data.totalChunks);
                } else {
                    console.error('Missing username, videoFilename, or totalChunks in response');
                    logMessages.innerText = '로그인 후 이용해주세요.';
                    uploadButton.disabled = false;
                }
            })
            .catch(error => {
                console.error('Error:', error);
                uploadButton.disabled = false;
                logMessages.innerText = '오류가 발생했습니다: ' + error;
            });
        });

        function checkForNewImages(username, videoFilename, totalChunks) {
            let imageIndex = 0;
            let currentContainer = document.getElementById('imageContainer1');
            let bufferContainer = document.getElementById('imageContainer2');
            const roomName = `process_video_${username}`;  // roomName을 동적으로 설정합니다.
            const chatSocket = new WebSocket(
                'ws://' + window.location.host + '/ws/process_video/' + roomName + '/'
            );

            const intervalId = setInterval(() => {
                chatSocket.onmessage = function(e) {
                    const data = JSON.parse(e.data);
                    if (data.message === 'completed') {
                        clearInterval(intervalId);
                        logMessages.innerText = '영상 변환이 완료되었습니다.';
                        const outputVideoPath = `/static/tmp/${username}/${videoFilename}/${videoFilename}_output.mp4`;
                        const a = document.createElement('a');
                        a.href = outputVideoPath;
                        a.download = `${videoFilename}_output.mp4`;
                        document.body.appendChild(a);
                        a.click();
                        document.body.removeChild(a);
                        uploadButton.disabled = false;  
                        return;
                    }
                }

                const imagePath = `/static/tmp/${username}/${videoFilename}/${videoFilename}_${imageIndex}.jpg`;
                const newImg = new Image();
                newImg.onload = function() {
                    newImg.style.width = '100%';  // 이미지의 너비를 컨테이너의 100%로 설정
                    newImg.style.height = 'auto';  // 이미지의 높이를 자동으로 조절

                    bufferContainer.innerHTML = '';  // 버퍼 컨테이너를 비웁니다.
                    bufferContainer.appendChild(newImg);  // 새 이미지를 버퍼 컨테이너에 추가합니다.
                    bufferContainer.style.display = 'block';  // 버퍼 컨테이너를 보이게 합니다.
                    currentContainer.style.display = 'none';  // 현재 컨테이너를 숨깁니다.

                    // 컨테이너 역할 교체
                    let temp = currentContainer;
                    currentContainer = bufferContainer;
                    bufferContainer = temp;
                    imageIndex++;  // 이미지가 성공적으로 로드되었을 때만 인덱스 증가
                };
                newImg.onerror = function() {
                    // 이미지 로드 실패 시 처리
                }
                newImg.src = imagePath;
            }, 2000); // 2초 간격으로 로드
        }
    });
</script>
{% endblock %}

