{% extends "index.html" %}

{% block title %}날씨 데이터{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/weather.css' %}">

<div class="weather-container">
    <h1>API TEST</h1>
    <div class="weather-date">{{ weather_date }}</div>
    <div class="weather-location">{{ weather_location }}</div>
    <div class="weather-icon">
        <img src="{{ weather_icon }}" alt="{{ weather_status }}" width="150" height="150">
    </div>
    <div class="weather-status">{{ weather_status }} {{ temperature }}°C</div>
    <div class="weather-humidity">습도 {{ humidity }}%</div>
</div>
{% endblock %}
